body {
    background-color: aqua;
    background-image: url("https://img.freepik.com/free-psd/majestic-pine-tree-symbol-resilience-longevity_632498-24302.jpg?semt=ais_rp_progressive&w=740&q=80");
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#name{
    margin-right: 50%;
}